
body{
    height: 100vh;
    padding: 20px 0px 100px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    background-image: linear-gradient(to top left, #6241ce, #ff93f1);
    background-repeat: no-repeat;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.loto{
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 290px;
    text-align: center;
    margin: 10px;
    border-radius: 5px;
    color: #4b3f75c2;
    font-weight: 900;
    box-shadow:  -8px -8px 10px #ffdffc2c, 
            8px 8px 10px rgba(70, 70, 70, 0.226);
}
.ndiv{
    width: 270px;
    height: 250px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0px 10px;
    box-shadow:  -8px -8px 10px #ffdffc2c, 
            8px 8px 10px rgba(70, 70, 70, 0.226);
}
#dv{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    margin: 5px;
    background-color: #554786;
    color: rgb(228, 228, 228);
    box-shadow: 2px 5px 8px #0000009f;
    background-image: linear-gradient(to top left, #40375f, #787a9b);
    font-weight: 900;
    cursor: pointer;
}
.wn{
    font-size: 18px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 290px;
    text-align: center;
    margin: 20px 10px 10px 10px;
    border-radius: 5px;
    color: #4b3f75;
    font-weight: 900;
    box-shadow: -3px -3px 5px #ffe8fd25, 
        3px 3px 5px #1c1a244d;
}
.wdiv{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0px 10px;
}
#wd{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    margin: 5px;
    color: rgb(228, 228, 228);
    font-weight: 900;
    box-shadow: inset -4px -4px 6px #ffdffc2c, 
           inset 4px 4px 6px rgba(70, 70, 70, 0.411);
}
.yn{
    width: 290px;
    font-size: 18px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    text-align: center;
    margin: 20px 10px 10px 10px;
    color: #4b3f75;
    font-weight: 900;
    box-shadow: -3px -3px 5px #ffe8fd25, 
    3px 3px 5px #1c1a244d;
}
.inpdiv{
    
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 10px;
}
input{
    width: 33px;
    height: 33px;
    border-radius: 50%;
    text-align: center;
    font-size: 16px;
    margin: 5px;
    box-shadow: 2px 5px 8px #0000009f;
    background-color: #554786;
    color: rgb(228, 228, 228);
    font-weight: 900;
    
}
::placeholder{
    color: rgba(202, 202, 202, 0.342);
    font-family: Arial, Helvetica, sans-serif;
    
}
input:hover, #dv:hover{
    margin-bottom: -1px;
    box-shadow: 1px 3px 5px #0000009f; 
}
input:focus{
    outline: none;
}
.btndiv{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 10px;
}
.playdiv{
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.play{
    width: 50px;
    height: 50px;
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: 900;
    font-size: 13px;
    cursor: pointer;
    box-shadow: 2px 5px 8px #0000009f;
    background-image: linear-gradient(to top left, #d855b7, #fd7adc);
}
.randomdiv{
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.random{
    width: 50px;
    height: 50px;
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: 900;
    font-size: 8px;
    cursor: pointer;
    box-shadow: 2px 5px 8px #0000009f;
    background-image: linear-gradient(to top left, #d855b7, #fd7adc);
}
.resetdiv{
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.reset{
    width: 50px;
    height: 50px;
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: 900;
    font-size: 8px;
    cursor: pointer;
    box-shadow: 2px 5px 8px #0000009f;
    background-image: linear-gradient(to top left, #d855b7, #fd7adc);
}
.play:focus, .random:focus, .reset:focus{
    margin-bottom: -3px;
    margin-right: -1px;
    box-shadow: 1px 3px 5px #0000009f; 
}
